*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body
{
    height: 100%;
    background: #575ce5 100% fixed;
}

.background
{
    background-color: #575ce5;
    width: 400px;
}

.container
{
    background-color: #ffffff;
    width: 600px;
    height: 600px;
    padding: 50px;
    position:absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    box-shadow: 15px 60px 70px rgba(0,0,0, 0.1);
    border-radius: 20px;
    -webkit-perspective: 300px;
    perspective: 300px;
}

.coinAndChart
{
    display: flex;
    justify-content: right;
    padding-top: 50px;
}

.bar
{
    fill:#424ae0
}

.coin
{
    height: 150px;
    width: 150px;
    position: relative;
    margin: 25px auto;
    -webkit-transform-style: preserve-3d;
    transform-style:preserve-3d;
    animation:none;
}

.coin img
{
    width: 145px;
}

.heads,.tails
{
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.tails
{
    transform: rotateX(180deg);
}

.buttons
{
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 100px;
}

button
{
    width: 120px;
    padding: 10px 0;
    border: 2.5px solid #424ae0;
    border-radius: 5px;
    cursor: pointer;
}

#flip-button
{
    background-color: #ffffff;
    color: #424ae0;
}

#flip-button:disabled
{
background-color: #e1e0ee;
border-color: #e1e0ee;
color: #101020;
}

#reset-button
{
    background-color: #ffffff;
    color: #424ae0;
}

@keyframes spin-tails
{
    0%
    {
        transform:rotateX(0);
    }

    100%
    {
        transform:rotateX(1980deg);
    }
}

@keyframes spin-heads
{
    0%
    {
        transform: rotateX(0);
    }

    100%
    {
        transform: rotateX(2160deg);
    }
}